.logo {
  display: flex;
align-items: center;

 font-family:'Raleway';
 font-size: 26px;
 line-height: 1.19;
 letter-spacing: 0.03em;
 
color:$accent-color;

}

.logo__name {

  &--black {
    color:$title-text-color;
   }

 }
   


   
  