.menu-nav {
display:flex;
align-items: stretch;
flex-direction:column;

margin: 0px auto;






}
.navigation {

&__item {
  margin-bottom: 32px;

 font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em; 


 }

&:last-child {
 margin-bottom: 0;
 }



}

.navigation__list {
  color: $primary-text-color;


    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
  color:$accent-color;
}

}
.navigation-list--active {
  color:$accent-color; 

  transition-property:color;
  transition-duration: 250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
}
.social-contact {

&__link {

display:flex;


margin-top: 64px;
text-align: center;

font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;


}

&__list {
  color: $accent-color;
}

&__line {
height:  22px;
margin: 10px;

color: rgba(33, 33, 33, 0.2);
transform: rotate(90deg);
  
}
}
.contact {

margin-top: 100%;


&__link {
 padding: 0;

}



&__list {

  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  
  
  color:$accent-color;
  
  &--grey {
 font-style: normal;
 font-weight: 500;
 font-size: 24px;
 line-height: 1.16;
 letter-spacing: 0.02em;

color: $secondary-text-color;
    
  }
    
  }

&__item {
  display: flex;
  margin-top: 32px;

  &:first-child {
    margin-top: 0;
  }
}


}


