$primary-text-color:#212121;
$secondary-text-color:#757575 ;
$title-text-color:black;
$three-text-color:#ffffff;
$accent-color:#2196f3;
$primary-fount-color:#F5F5F5;
$secondary-fount-color:#2F303A;
$three-fount-color:#f5f4fa;
$color:#afb1b8;
$color-accent-hero-but-hover:#188ce8;