.comands {
  @media screen and (min-width:768px) and (max-width:1199px) {
    display: flex;
flex-wrap: wrap;

margin: -15px;
 }
@media screen and (min-width:1200px) {
  display:flex;
  margin: 0;
}


}
.section-comands { 
  padding-top: 60px;
 padding-bottom: 60px;
  
  background:$three-fount-color;

  @media screen and (min-width:1200px) {
    padding-top: 94px;
  padding-bottom: 94px;
  }

 
   }


     .comands__item {
      margin-top: 0;
      margin-bottom: 30px;

      
      
      background:$three-text-color;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px; 

      @media screen and (min-width:480px) {
       width: 450px;
      }

      @media screen and (max-width:767px) {
        &:last-child {
      margin-bottom: 0;
       }
      }
      
       @media screen and (min-width:768px) and (max-width:1199px) {
        width: calc((100% - 4 * 15px) / 2);
     margin: 15px;

     }
     @media screen and (min-width:1200px) {
    margin-left: 30px;

&:first-child {
  margin-left: 0;
}

     }
      
       }
     
      
     .comands__meta {
    padding-top: 30px;
    margin-bottom: 16px;
    
     }
     .comands__titles {
     margin-bottom: 10px;
    
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:$primary-text-color;
     } 
     .comands__text {
    margin-top: 0;
    
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:$secondary-text-color;
     }
    