.hero {
  background-image: linear-gradient(to right,
   rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)),
   url(../../images/mobile_header_img@1x.jpg);
  
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-color:$secondary-fount-color;
 
  padding-top: 118px;
  padding-bottom: 118px;


margin: 0 auto;

  text-align: center;

  

@media (min-resolution: 2dppx) {
    .hero { 
  background-image: linear-gradient(to right,
   rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)),    
         url(../../images/mobile_header_img@2x.jpg);
       
         background-repeat: no-repeat;
         background-size:cover ;
         background-position: center;
         background-color:$secondary-fount-color;
       
       padding-top: 118px;
       padding-bottom: 118px;
       

       margin: 0 auto;

       text-align: center;

       
     
  }
}
}

@media screen and (min-width:768px) and (max-width:1199px) {
.hero { 
height: 400px;
margin: 0 auto;
width:100%;
   background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../../images/tablet_hero_img@1x.jpg);
   
   background-repeat: no-repeat;
   background-size:cover ;
   background-position: center;
   background-color:$secondary-fount-color;
   padding-top: 118px;
   padding-bottom: 118px;

@media (min-resolution:2dppx) {
  .hero {
    height: 400px;
    
margin: 0 auto;
   width:100%;

     background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
       url(../../images/tablet_hero_img@2x.jpg);
     
     background-repeat: no-repeat;
     background-size:cover ;
     background-position: center;
     background-color:$secondary-fount-color;

     padding-top: 118px;
  padding-bottom: 118px;
    
}
}


}
}
@media screen and (min-width:1200px)
{
  .hero {
    height: 600px;
    margin: 0 auto;
   
   max-width: 1600px;

  background-image: linear-gradient(to right,
   rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)),
    url(../../images/desktop_hero_img@1x.jpg);
  
  background-repeat: no-repeat;
  background-size:cover ;
  background-position: center;
  background-color:$secondary-fount-color;
  
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;

  @media (min-resolution:2dppx) {
    .hero {
      height: 600px;
    margin:0 auto;

   max-width: 1600px;

  background-image: linear-gradient(to right,
   rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)),
    url(../../images/desktop_hero_img@2x.jpg);
  
  background-repeat: no-repeat;
  background-size:cover ;
  background-position: center;
  background-color:$secondary-fount-color;
  
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
    }
  }
}
}
.hero__title {
 max-width: 360px;

margin-top: 0;
margin-bottom: 40px;
margin-left: auto;
margin-right: auto;

text-transform: uppercase;
font-weight: 900;
font-size: 26px;
line-height: 1.61;
letter-spacing:0.06em;

color:$three-text-color;

@media screen and (min-width:1200px) { 
  max-width: 696px;

  font-size: 44px;
line-height: 1.36;
}


} 
.hero__button {
margin-top: 0;
margin-bottom: 0;

padding: 10px 24px;
border-radius: 4px;

border: 1px solid transparent;

cursor: pointer; 
font-family: inherit; 
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;

background-color:$accent-color;
color:$three-text-color;

transition-property: background-color ;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
background:$color-accent-hero-but-hover;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
@media screen and (min-width:1200px) {
  padding: 10px 32px;
  
  
}
}
