.social {
  display: flex;
  justify-content: center;
   
    padding-bottom: 30px;
    margin: 0;
  }
 
  .social__list {


   width: 44px;
  height: 44px;
 
 color:$color;
 background-color: transparent;
 border-radius: 50%;
 
 
 transition-property: color background-color;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
 

 
 &:hover,
 &:focus {
  background-color:$accent-color;
   color:$three-text-color;
  
 }

  }
  .social__item {
 margin-right: 10px;

     &:last-child {
   margin-right: 0;
 }

  }
 .social__icon {
   fill:currentColor; 
 }
 