body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    
    color:$primary-text-color;
    background:$three-text-color; 
    margin: 0;
    
    }
    body.modal-open {
        overflow: hidden;
    }